/*
Reference in
http://css-tricks.com/snippets/css/a-guide-to-flexbox/
http://www.adobe.com/jp/jos/pinchin/article/design-with-css/flexbox-menu.html
*/

html,body{
    margin:0;
    height: 100%;
    font-family: sans-serif;
}

/***************
    Navigation
****************/

.navigation {
    padding-left: 0;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.navigation li:not(:last-child){
    border-right: 1px solid #ddd;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #000;
}

.navigation a:hover {
    background:#ddd;
}

@media all and (max-width: 768px) {
    .navigation {
        justify-content: space-around;
    }

    .navigation li{
        flex: 1;
        text-align: center;
    }
}

@media all and (max-width:480px) {
    .navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .navigation li:not(:last-child){
        border-right: none;
    }


    .navigation li:last-of-type a {
        border-bottom: none;
    }
}




/***************
    Contents
****************/

.container {

    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.container > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background: #c0c0c0;
}
.header > img{
    width: 100%;
}

.footer {
    background: #888;
    color: #555;
}

.bodyCopy {
    text-align: left;
    background: #bbb;
    color: #888;
}

.aside {
    background: #dcdcdc;
}

@media all and (min-width: 480px) {
    .aside { flex: 1;}
}

@media all and (min-width: 768px) {
    .bodyCopy{
        flex: 3;
        order: 1;
    }
    .aside { order: 2; }
    .footer  { order: 3; }
}


